extends layout

block content
  div.col-lg-offset-4.col-lg-4
    div.panel
      div.panel-heading Sign up
      form(name="form", method="post", action="/users/signup", novalidate)
        //div.form-group
        //  label.control-label(for="username") Username
        //  input.form-control(type="text", name="username", id="username", placeholder="Username", unique-username, required, ng-model="username", autofocus)
        //  i.halflings-icon.refresh.rotating(ng-show="busy")
        //  span.help-block(ng-show="form.username.$dirty && form.username.$error.required") Please choose a username
        //  span.help-block(ng-show="form.username.$dirty && form.username.$error.isTaken") Username already taken
        //  span.help-block(ng-show="form.username.$dirty && form.username.$error.invalidChars") Username may not contain any non-url-safe characters
        div.form-group
          label.control-label(for="username") username
          input.form-control(type="username", ng-model="username", name="username", id="username", placeholder="username", required)
          //span.help-block(ng-show="form.email.$dirty && form.email.$error.email") Email is invalid
        div.form-group
          label.control-label(for="phone") phone
          input.form-control(type="phone", ng-model="phone", name="phone", id="phone", placeholder="Phone", required)
          //span.help-block(ng-show="form.email.$dirty && form.email.$error.email") Email is invalid
        div.form-group
          label.control-label(for="password") Password
          input.form-control(type="password", name="password", id="password", ng-model="password", required, match="verification")
          span.help-block(ng-show="form.password.$dirty && form.password.$error.required") Please enter a password
        div.form-group
          label.control-label(for="verification") Repeat password
          input.form-control(type="password", name="verification", id="verification", ng-model="verification", required, match="password")
          span.help-block(ng-show="form.verification.$dirty && form.verification.$error.required") Please repeat your password
          span.help-block(ng-show="form.verification.$dirty && form.verification.$error.match && !form.verification.$error.required") Passwords don't match
        if error
          div.alert #{error}
        input.btn.btn-primary(type="submit", value="Sign up", ng-disabled="form.$invalid")


        form(name="form", method="post", action="/users/login", novalidate)
          //div.form-group
          //  label.control-label(for="username") Username
          //  input.form-control(type="text", name="username", id="username", placeholder="Username", unique-username, required, ng-model="username", autofocus)
          //  i.halflings-icon.refresh.rotating(ng-show="busy")
          //  span.help-block(ng-show="form.username.$dirty && form.username.$error.required") Please choose a username
          //  span.help-block(ng-show="form.username.$dirty && form.username.$error.isTaken") Username already taken
          //  span.help-block(ng-show="form.username.$dirty && form.username.$error.invalidChars") Username may not contain any non-url-safe characters
